<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Config\Log4net.config" />
  <appSettings>
    <add key="log4net.Config" value="Config\Log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    
    
    <add key="AppId" value="DisconfClientDemo" /> <!-- 应用编号，  必须-->
    <!--<add key="AppId" value="api.smsproxy.ymatou.com"/>-->
    <add key="DisconfClient.DisconfServerHost" value="http://disconf.iapi.ymatou.com" />
    <!--<add key="DisconfClient.DisconfServerHost" value="http://172.16.100.104" />--><!--配置中心的服务地址，必须-->
    
    <!--<add key="DisconfClient.DisconfServerHost" value="http://172.16.22.142:8081"/>-->
    <add key="DisconfClient.Environment" value="SIT1" /> <!--环境名称，必须-->
    <add key="DisconfClient.Version" value="1.0" /> <!--版本号，可选，不配置则默认值为1.0-->
    
    <add key="DisconfClient.Logger" value="DisconfClient.ConsoleLogAdapter,DisconfClient" /> <!--日志记录器，  可选，不配置则默认为YmatouLog-->
    <add key="DisconfClient.DisableZooKeeper" value="false" /><!--是否禁用ZooKeeper通信方式，  可选，不配置则默认为false-->
    <add key="DisconfClient.RefreshTime" value="900" /><!--定时更新变更的配置项的间隔时间，单位为秒，可选，默认为15秒，值的范围为15~120-->
    <add key="DisconfClient.ZooKeeperSessionTimeout" value="90" /><!--ZooKeeper会话超时时间，可选，默认为90秒-->
    <add key="DisconfClient.OnlyLoadLocalConfig" value="false" /> <!--是否只从本地配置文件中加载数据，可选，默认为false-->
    <add key="DisconfClient.DisconfClientLocalConfigPath" value="D:\\DisconfClientConfig" /><!--本地配置文件存储的目录，可选，默认为D:\\DisconfClientConfig-->
    <add key="DisconfClient.ConfigAssemblies" value="DisconfClientTest" /> <!--配置类所在的程序集，多个用','号隔开-->
    
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>