<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender nodeName="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin data="DEBUG" />
      <levelMax data="DEBUG" />
    </filter>
    <file data="D:\logfiles\log4net_api.accounting.i.ymatou.com\debug.txt" />
    <appendToFile data="true" />
    <rollingStyle data="Date" />
    <datePattern data="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern data="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender nodeName="LogAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin data="INFO" />
      <levelMax data="INFO" />
    </filter>
    <file data="D:\logfiles\log4net_api.accounting.i.ymatou.com\log.txt" />
    <appendToFile data="true" />
    <rollingStyle data="Date" />
    <datePattern data="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern data="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender nodeName="ExceptionAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin data="WARN" />
      <levelMax data="FATAL" />
    </filter>
    <file data="D:\logfiles\log4net_api.accounting.i.ymatou.com\Error.txt" />
    <appendToFile data="true" />
    <rollingStyle data="Date" />
    <datePattern data="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern data="%date %message%newline" />
    </layout>
  </appender>
  <root>
    <level data="ALL" />
    <appender-ref ref="DebugAppender" />
    <appender-ref ref="LogAppender" />
    <appender-ref ref="ExceptionAppender" />
  </root>
</log4net>